<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>home</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap-tab.js"></script>
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/home"> <img
			src="images/ladybug.png" width="30" height="30"
			class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">

			<ul class="navbar-nav mr-auto">
			</ul>

			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#"><span
						sec:authentication="name">Bob</span></a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">logout</a>
				</li>
			</ul>

		</div>
	</nav>
	<div class="container">
		<div class="row">
			<br />
			<div class="col text-center">
				<h2>Ladybug Flow</h2>
				<p></p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<div class="counter">
					<i class="fa fa-solid fa-gear fa-2x"></i>
					<h2 class="timer count-title count-number"
						th:attr="data-to=${flowCount}" data-speed="1500"></h2>
					<p class="count-text ">Flow Count</p>
				</div>
			</div>
			<div class="col">
				<div class="counter">
					<i class="fa fa-solid fa-gears fa-2x"></i>
					<h2 class="timer count-title count-number"
						th:attr="data-to=${instanceCount}" data-speed="1500"></h2>
					<p class="count-text ">Flow Instance</p>
				</div>
			</div>
			<div class="col">
				<div class="counter">
					<i class="fa fa-solid fa-check fa-2x"></i>
					<h2 class="timer count-title count-number"
						th:attr="data-to=${completeCount}" data-speed="1500"></h2>
					<p class="count-text ">Complete</p>
				</div>
			</div>
			<div class="col">
				<div class="counter">
					<i class="fa fa-solid fa-spinner fa-2x"></i>
					<h2 class="timer count-title count-number"
						th:attr="data-to=${processingCount}" data-speed="1500"></h2>
					<p class="count-text ">In Processing</p>
				</div>
			</div>
			<div class="col">
				<div class="counter">
					<i class="fa fa-solid fa-bug fa-2x"></i>
					<h2 class="timer count-title count-number"
						th:attr="data-to=${errorCount}" data-speed="1500"></h2>
					<p class="count-text ">Error</p>
				</div>
			</div>
		</div>

		<div style="margin-top: 15px"></div>

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" id="script-tab-li"><a
				class="nav-link active" id="flow-tab" data-toggle="tab" href="#flow"
				role="tab" aria-controls="flow" aria-selected="true">Flow</a></li>
			<li class="nav-item" id="instance-tab-li"><a class="nav-link"
				id="instance-tab" data-toggle="tab" href="#instance" role="tab"
				aria-controls="instance" aria-selected="true">Instance</a></li>
		</ul>


		<div class="tab-content" id="myTabContent">
			<!--  Flow -->
			<div class="tab-pane fade show active" id="flow" role="tabpanel"
				aria-labelledby="flow-tab">
				<table class="styled-table">
					<thead>
						<tr>
							<td>Flow</td>
							<td>InstanceCount</td>
							<td>CompleteCount</td>
							<td>ProcessingCount</td>
							<td>ErrorCount</td>
							<td>Detail</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entity:${flowList}">
							<td th:text="${entity.flowId}">aaa</td>
							<td th:text="${entity.historyCount}">1</td>
							<td th:text="${entity.completeCount}">1</td>
							<td th:text="${entity.processingCount}">1</td>
							<td th:text="${entity.errorCount}">1</td>
							<td><a th:href="@{/network_flow(flowId=${entity.flowId})}">Detail</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<!--  Instance -->
			<div class="tab-pane fade" id="instance" role="tabpanel"
				aria-labelledby="instance-tab">
				<table class="styled-table">
					<thead>
						<tr>
							<td>Flow</td>
							<td>Parameter</td>
							<td>Instance</td>
							<td>Status</td>
							<td>Start</td>
							<td>End</td>
							<td>Spend</td>
							<td>Detail</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entity:${instanceList}">
							<td th:text="${entity.flowId}">aaa</td>
							<td th:text="${entity.startParam}">bbb</td>
							<td th:text="${entity.historyId}">123</td>
							<td
								th:text="${FlowStatus.getFlowStatusString(entity.flowStatus)}">1</td>
							<td th:text="${entity.startTimeVo}">2022/08/31 09:00</td>
							<td th:text="${entity.finishTimeVo}">2022/08/31 10:00</td>
							<td th:text="${entity.spendTimeVo}">01:00</td>
							<td><a
								th:href="@{/network_history(flowId=${entity.flowId},historyId=${entity.historyId})}">Detail</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		function refresh(){
			window.location.reload();
		}
		
		function clearComplete(){
			post("/flow/clearComplete", null, function(){
				refresh();
			});
		}
		
		function clearError(){
			post("/flow/clearError", null, function(){
				refresh();
			});
		}
		
		function post(requestUrl, requestData, callBack){
		    $.ajax({
		        url:requestUrl,
		        type:'POST',
		        data:requestData
		    }).done( (data, status, xhr) => {
		        console.log(data);
				
		        callBack(data);

		    }).fail( (data) => {
		        console.log(data);
		    }).always( (data) => {

		    });
		}

	</script>
</body>
</html>