<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ladybugflow</title>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 387px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>

<table>
	<tr>
		<td valign="top">
			<div>
				<textarea id="jsonTxt" rows="30" cols="50">
{
	"flowId":"123",
	"nodes":[
		{
			"id":"1",
			"label":"start"
		},
		{
			"id":"2",
			"label":"exec1"
		}

	],
	"edges":[
		{
			"id":"1",
			"from":"1",
			"to":"2",
			"arrows":"to"
		}
	]
}
				</textarea>
				<br/>
				<input type="button" value="show network" onClick="showNetwork()"/>
			</div>
		</td>
		<td valign="top">
			<div id="mynetwork"></div>
			<input type="button" value="update json" onClick="updateJson()"/>
		</td>
		<td valign="top">
			<div id="node-div" style="display:none">
	          <table>
	            <tr>
	              <td></td>
	              <td><label for="node-id">Id</label></td>
	              <td><input id="node-id" type="text" value="6" disabled/></td>
	            </tr>
	            <tr>
	              <td></td>
	              <td><label for="node-label">Label</label></td>
	              <td><input id="node-label" type="text" value="Node 6" /></td>
	            </tr>
	            <tr>
	              <td></td>
	              <td><label for="node-readyCheck">Ready check</label></td>
	              <td>
	              		<input type="radio" id="node-readyCheck_0" name="node-readyCheck" value="0" checked>Wait all</input>
	              		<input type="radio" id="node-readyCheck_1" name="node-readyCheck" value="1"/>Wait one</input>
	              </td>
	            </tr>
	            <tr>
	              <td></td>
	              <td><label for="node-startType">Start type</label></td>
	              <td>
	              		<input type="radio" id="node-startType_0" name="node-startType" value="0" checked>Default</input>
	              		<input type="radio" id="node-startType_3" name="node-startType" value="3"/>Timer</input>
	              </td>
	            </tr>
	            <tr>
	              <td></td>
	              <td><label for="node-label">Cron</label></td>
	              <td><input id="node-startCron" type="text" value="0 0/5 * * * ?" /></td>
	            </tr>
	            <tr>
	              <td></td>
	              <td><label for="node-executeType">Execute type</label></td>
	              <td>
	              		<input type="radio" id="node-executeType_0" name="node-executeType" value="0" checked>Default</input>
	              		<input type="radio" id="node-executeType_2" name="node-executeType" value="2"/>Wait Request</input>
	              </td>
	            </tr>
	            <tr>
	              <td></td>
	              <td>Action</td>
	              <td>
	                <button id="node-update" onclick="updateNode();">Update</button>
	                <button id="node-remove" onclick="removeNode();">Remove</button>
	              </td>
	            </tr>
	          </table>
          	</div>
          	<div id="edge-div" style="display:none">
	          <table>
	            <tr>
	              <td></td>
	              <td><label for="edge-id">Id</label></td>
	              <td><input id="edge-id" type="text" value="6" disabled/></td>
	            </tr>
	            <tr>
	              <td></td>
	              <td><label for="edge-condition">Value</label></td>
	              <td><input id="edge-condition" type="text" value="Edge 6" /></td>
	            </tr>
	            <tr>
	              <td></td>
	              <td>Action</td>
	              <td>
	                <button id="edge-update" onclick="updateEdge();">Update</button>
	                <button id="edge-remove" onclick="removeEdge();">Remove</button>
	              </td>
	            </tr>
	          </table>
          	</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	var nodes;
	var edges;

	function updateJson(){
		
		var jsonObj = {
				flowId:"your flow id"
		};
		
		if(document.getElementById("jsonTxt").value != ""){
			jsonObj = JSON.parse(document.getElementById("jsonTxt").value);
		}
		
		jsonObj.nodes = [];
		jsonObj.edges = [];
		
		nodes.forEach(element => jsonObj.nodes.push(
				{
					"id":element.id,
					"label":element.label,
					"readyCheck":element.readyCheck,
					"startType":element.startType,
					"executeType":element.executeType,
					"startCron":element.startCron,
				}
		));
		
		edges.forEach(element => jsonObj.edges.push(
				{
					"id":element.id,
					"from":element.from,
					"to":element.to,
					"condition":element.condition,
					"arrows":element.arrows
				}
		));
		
		document.getElementById("jsonTxt").value = JSON.stringify(jsonObj, null, "\t");
	}

	function updateNode() {
	    try {
	      nodes.update({
	        id: document.getElementById("node-id").value,
	        label: document.getElementById("node-label").value,
	      });
	      nodes.update({
	        id: document.getElementById("node-id").value,
	        readyCheck: getReadyCheck(),
	      });
	      nodes.update({
	        id: document.getElementById("node-id").value,
	        startType: getStartType(),
	      });
	      nodes.update({
		        id: document.getElementById("node-id").value,
		        executeType: getExecuteType(),
		      });
	      nodes.update({
	        id: document.getElementById("node-id").value,
	        startCron: document.getElementById("node-startCron").value,
	      });
	    } catch (err) {
	      alert(err);
	    }
	}
	
	function removeNode() {
	    try {
	      nodes.remove({ id: document.getElementById("node-id").value });
	    } catch (err) {
	      alert(err);
	    }
	}
	
	function updateEdge() {
	    try {
	      edges.update({
	        id: document.getElementById("edge-id").value,
	        condition: document.getElementById("edge-condition").value,
	      });
	    } catch (err) {
	      alert(err);
	    }
	}
	
	function removeEdge() {
	    try {
	      edges.remove({ id: document.getElementById("edge-id").value });
	    } catch (err) {
	      alert(err);
	    }
	}
	
	function showNetwork(){
		var jsonObj = JSON.parse(document.getElementById("jsonTxt").value);
	    // create an array with nodes
	    nodes = new vis.DataSet(jsonObj.nodes);

	    // create an array with edges
	    edges = new vis.DataSet(jsonObj.edges);

	    // create a network
	    var container = document.getElementById('mynetwork');

	    // provide the data in the vis format
	    var data = {
	        nodes: nodes,
	        edges: edges
	    };
	    var options = {
    		layout: { randomSeed: 10 },

            interaction: { hover: true },
            manipulation: {
              enabled: true,
              addEdge: function (data, callback) {
   			  	 data.arrows = "to";
                 callback(data);
               },
            }
	    };

	    // initialize your network!
	    var network = new vis.Network(container, data, options);
	    
	    network.on("click", function (params) {
			var nodeName = this.getNodeAt(params.pointer.DOM);
			if(nodeName){
				
				var node = nodes.get(params.nodes[0]);
				
				document.getElementById("node-id").value = node.id;
				document.getElementById("node-label").value = node.label;
				if(node.readyCheck){
					setReadyCheck(node.readyCheck);
				}else{
					setReadyCheck(node.readyCheck);
				}
				if(node.startType){
					setStartType(node.startType);
				}else{
					setStartType(node.startType);
				}
				if(node.executeType){
					setExecuteType(node.executeType);
				}else{
					setExecuteType(node.executeType);
				}
				if(node.startCron){
					document.getElementById("node-startCron").value = node.startCron;
				}else{
					document.getElementById("node-startCron").value = "";
				}
				
				
				document.getElementById("edge-div").style.display = "none"
				document.getElementById("node-div").style.display = ""
			}else{
				document.getElementById("node-div").style.display = "none"
				
				if(params.edges && params.edges.length == 1){
					
					var edge = edges.get(params.edges[0]);
					
					document.getElementById("edge-id").value = edge.id;
					if(edge.condition){
						document.getElementById("edge-condition").value = edge.condition;
					}else{
						document.getElementById("edge-condition").value = "";
					}
					
					
					document.getElementById("edge-div").style.display = ""
				}else{
					
					document.getElementById("edge-div").style.display = "none"

				}
			}
	    });
	}
	
	function setReadyCheck(readyCheck){
		if(readyCheck == "1"){
			document.getElementById("node-readyCheck_1").checked = true;
		}else{
			document.getElementById("node-readyCheck_0").checked = true;
		}
	}
	
	function getReadyCheck(){
		if(document.getElementById("node-readyCheck_1").checked){
			return 1;
		}else{
			return 0;
		}
	}

	function setStartType(startType){
		if(startType == "3"){
			document.getElementById("node-startType_3").checked = true;
		}else{
			document.getElementById("node-startType_0").checked = true;
		}
	}
	
	function getStartType(){
		if(document.getElementById("node-startType_3").checked){
			return 3;
		}else{
			return 0;
		}
	}

	function setExecuteType(executeType){
		if(executeType == "2"){
			document.getElementById("node-executeType_2").checked = true;
		}else{
			document.getElementById("node-executeType_0").checked = true;
		}
	}
	
	function getExecuteType(){
		if(document.getElementById("node-executeType_2").checked){
			return 2;
		}else{
			return 0;
		}
	}
	
	showNetwork();
</script>
</body>
</html>