<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

	<label>user name:</label>
	<input id="username" name="username" type="text" value=""/>
	<button onClick="go()">book</button>
	<div id="msg">
	
	</div>
	<script type="text/javascript">
		function go(){
			$("#msg").text("booking....");
			post("/demo/demo1/bookingHotel", {username:$("#username").val()}, function(data){
				$("#msg").text("book success");
			});
		}
		
		function post(requestUrl, requestData, callBack){
		    $.ajax({
		        url:requestUrl,
		        type:'POST',
		        data:requestData
		    }).done( (data, status, xhr) => {
		        console.log(data);
				
		        callBack(data);

		    }).fail( (data) => {
		        console.log(data);
		    }).always( (data) => {

		    });
		}

	</script>
</body>
</html>